/*
 * AssessmentBuddy CSS rules
 */

/* Coolors Exported Palette - coolors.co/4c6085-39a0ed-36f1cd-13c4a3-32322c */
/* TODO: give these names */
$headerBg: #4c6085;
$navbar: #39a0ed;
$btn: #36f1cd;
$btnsel: #13c4a3;
$color5: #32322c;

body {
	font-family: "Open Sans", sans-serif;
}

.content {
	max-width: 40em;
	margin: 0 auto;
}

.header, .footer {
	background: $headerBg;
	color: white;
	text-align: center;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.header {
	font-size: 200%;
	padding: 1ex 0;
}

.footer {
	padding: 1ex 0;
}

.navbar {
	background: $navbar;
	color: white;
        padding: 1ex 0;
}

/* A form is embedded inline into the navigation bar
 * to allow the user to select/change the current program */
.navbar span.programsel form {
    display: inline-block;
}

#navleft {
	margin-left: 1ex;
	float: left;
}

#navright {
	margin-right: 1ex;
	float: right;
}

#navright:after { clear: both; }

.footer a, .navbar a {
	color: white;
}

.footer a:visited, .navbar a:visited {
	color: white;
}

.footer a.projlink:hover, .navbar a:hover {
	background: black;
}

.footer img.logo {
    vertical-align: middle;
}

.body {
	margin: 2em 0;
}

fieldset {
	margin-top: 1ex;
        border: 2pt solid $headerBg;
}

.formfield {
	margin-top: 1ex;
	margin-bottom: 1ex;
}

.formfield .left {
	display: inline-block;
	width: 12em;
	text-align: right;
}

.formfield .right {
	margin-left: 1em;
        vertical-align: text-top;
        display: inline-block;
}

.formfield div.right {
    padding: 0px;
    border: 0px;
}

.formsubmit {
    margin-top: 4ex;
    text-align: center;
    border-top: 2pt solid $headerBg;
    padding: 1ex 0;
}

.formsubmit input {
    min-width: 10em;
    font-size: 120%;
}

a.btnlink, div.disabledbtnlink {
    padding: 1ex;
    color: black;
    margin: 1ex 2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.btnlink {
    display: block;
    text-decoration: none;
    background: $btn;
}

div.disabledbtnlink {
    background: silver;
}

a.btnlink:visited {
    color: black;
}

a.btnlink:hover {
    background: $btnsel;
    color: white;
}

.pageinfo:before {
    content: "» ";
    font-size: 120%;
}

.pageinfo {
    padding-left: 1em;
    font-size: 120%;
    margin-bottom: 1em;
}

.formsection {
    background: $headerBg;
    color: white;
    text-align: center;
    padding: 1pt 0;
    margin: 2ex 0;
}

/* Dependent fields (for things like Roles belonging to an edited User,
 * and AchievementLevels belonging to an edited Rubric, etc.) */
.depfield {
    font-variant: small-caps;
    font-size: 90%;
    background: #ddd;
    border: 1px solid silver;
    border-radius: 4pt;
    padding: 1pt 8pt;
}
