/*
 * AssessmentBuddy CSS rules
 */

/* Coolors Exported Palette - coolors.co/4c6085-39a0ed-36f1cd-13c4a3-32322c */
/* TODO: give these names */
$headerBg: #4c6085;
$navbar: #39a0ed;
$color3: #36f1cd;
$color4: #13c4a3;
$color5: #32322c;

body {
	font-family: "Open Sans", sans-serif;
}

.content {
	max-width: 40em;
	margin: 0 auto;
}

.header, .footer {
	background: $headerBg;
	color: white;
	text-align: center;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.header {
	font-size: 200%;
	padding: 1ex 0;
}

.footer {
	padding: 1ex 0;
}

.navbar {
	background: $navbar;
	color: white;
}

#navleft {
	margin-left: 1ex;
	float: left;
}

#navright {
	margin-right: 1ex;
	float: right;
}

#navright:after { clear: both; }

.footer a, .navbar a {
	color: white;
}

.footer a:visited {
	color: white;
}

.body {
	margin: 2em 0;
}

fieldset {
	margin-top: 1ex;
}

.formfield {
	margin-top: 1ex;
	margin-bottom: 1ex;
}

.formfield label {
	display: inline-block;
	width: 10em;
	text-align: right;
}

.formfield input {
	margin-left: 1em;
}
